@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: '맑은 고딕', 'Segoe UI', sans-serif;
    -webkit-transition: .15s;
    background: rgba(0, 0, 0, .01);
    width: 100%;
    height: 100%;
}

html,
body {
    box-sizing: border-box;
    overflow: hidden;
}

 ::-webkit-scrollbar,
scrollbar {
    width: 0;
    height: 0;
}

div,
.quantity input {
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    vertical-align: middle;
}

table,
td,
tr,
tbody,
th {
    padding: 0;
    margin: 0;
    border-collapse: collapse;
}


/* animate */

.animated {
    -webkit-animation-duration: .25s;
    animation-duration: .25s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes pulse {
    from {
        transform: scale3d(1, 1, 1);
    }
    50% {
        transform: scale3d(1.25, 1.25, 1.25);
    }
    to {
        transform: scale3d(1, 1, 1);
    }
}

.pulse {
    animation-name: pulse;
}

@-webkit-keyframes slideInDown {
    from {
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
        visibility: visible;
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideInDown {
    from {
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
        visibility: visible;
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.slideInDown {
    -webkit-animation-name: slideInDown;
    animation-name: slideInDown;
}


/* Title Bar */

.nav {
    position: fixed;
    width: 100%;
    height: 3.5rem;
    background: #1a1a1a;
    z-index: 10;
}

.navbar-fixed {
    height: 5rem;
    position: relative;
    z-index: 997;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    display: none;
}

#menu:hover,
#end:hover,
#history:hover,
#screenshot:hover,
.tablebody.edit td.cell_2:hover {
    background: rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

#data {
    padding: 0 1rem;
    white-space: nowrap;
    text-overflow: clip;
    overflow: hidden;
    color: #fff;
    font-size: 1.2rem;
    text-shadow: 0 0 .3rem #000;
    cursor: move;
}

#menu,
#end,
#screenshot,
#history {
    width: 4.5rem;
    text-align: center;
    padding: 0;
}

.nav img {
    width: 2rem;
}


/* main Table */

#wrap {
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;
}

#menuTable {
    top: 0;
    z-index: 9;
    color: #fff;
    text-align: center;
    table-layout: fixed;
    width: 100%;
    height: 99%;
}

#menuTable td {
    width: 25%;
    background: rgba(0, 0, 0, 0.5);
    border-bottom: solid 1px #1a1a1a;
    border-left: solid 1px #1a1a1a;
    border-right: solid 1px #1a1a1a;
}

#menuTable td:hover {
    background: rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

#menuTable td div {
    font-size: 1.2rem;
    font-weight: bold;
}

#menuTable td img {
    width: 8rem;
}

.divider {
    height: 1px;
    overflow: hidden;
}

.ds,
.oh,
.pet {
    position: relative;
    height: 2.2rem;
    z-index: 3;
    float: left;
}

.ds {
    background: #4dd0e1;
}

.oh {
    background: #ef5350;
}

.pet {
    background: rgba(0, 0, 0, 0.5);
}

.bar {
    position: absolute;
    height: 2.2rem;
    z-index: 2;
}

.barbg {
    z-index: 1;
    height: 2.2rem;
    background: rgba(26, 26, 26, 1);
}

.tableHeader {
    position: absolute;
    width: 100%;
    top: 3.5rem;
    height: 1.4rem;
    color: #bdbdbd;
    table-layout: fixed;
    border-collapse: collapse;
}

.tableHeader td {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.1rem;
}

.tableBody {
    position: absolute;
    z-index: 4;
    width: 100%;
    color: #fff;
    table-layout: fixed;
    border-collapse: collapse;
}

.tableBody td {
    text-shadow: 0 0 .3rem #000;
    font-size: 1.2rem;
    height: 2.1rem;
}

.tableBody td img {
    width: 2rem;
}

#YOU .tableBody td,
.myPet .tableBody td {
    font-weight: bold;
}

.title {
    font-weight: bold;
    margin-bottom: .2rem;
}

.ex {
    color: #cccccc;
    font-size: 1.1rem
}

.tableBody.edit td {
    height: 5rem;
}

.tableBody.edit .cell_1 {
    width: calc(100% - 12rem);
    padding-left: 1rem;
    overflow: visible;
    white-space: pre;
    text-overflow: ellipsis;
}

.editbg {
    height: 5rem;
    z-index: 1;
    background: rgba(0, 0, 0, 0.75);
}


/* Cell */

.cell_0,
.cell_1,
.cell_2,
.cell_3,
.cell_4,
.cell_5 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: clip;
    text-align: center;
    vertical-align: middle;
    table-layout: fixed;
}

.cell_0 {
    width: 2.5rem;
}

.cell_1 {
    width: 100%;
    text-align: left;
    padding-left: .2rem
}

.cell_2 {
    width: 5.5rem;
}

.cell_3 {
    width: 6.5rem;
}

.cell_4 {
    width: 12rem;
    padding-left: .5rem;
    text-align: left;
}

.cell_5 {
    width: 4rem;
}


/* Toast */

#toast {
    position: fixed;
    bottom: 3rem;
    left: 50%;
    padding: 1.5rem 2rem;
    transform: translate(-50%, 10rem);
    border-radius: 3rem;
    overflow: hidden;
    font-size: 1.4rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s, visibility .5s, transform .5s;
    background: rgba(0, 0, 0, .35);
    color: #fff;
    z-index: 10000;
}

#toast.reveal {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, 0)
}
